<div class="timeline__profile">
    <button ng-click="setControlCenter('userProfile')" user-profile="::item.quote.user" provider="twitter" from="timeline" type="button">
        <img class="timeline__profile__avatar" ng-src="{{::item.quote.user.avatar.replace('normal', 'bigger')}}">
    </button>
    <div class="timeline__profile__fullname">
        <a ng-href="//twitter.com/{{::item.quote.user.screen_name}}" target="_blank">
            <strong ng-bind="::item.quote.user.name"></strong>
        <a>
    </div>
</div>