<span class="cursor--pointer">
    <!-- Favorite -->
    <button ng-click="setControlCenter('read_instagram-like' + ':' + item.id_str)" class="actions tips--deep" ng-class="::{'icon--like': item.favorited}" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#favorite"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.favorite_count > 0 ? item.favorite_count : ''}}"></span>
    </button>
    <!-- Reply -->
    <button ng-click="setControlCenter('read_instagram-reply' + ':' + item.id_str)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#reply">
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.reply_count > 0 ? item.reply_count : ''}}"></span>
    </button>
    <!-- Source -->
    <a ng-href="{{::item.link}}" target="_blank">
        <button class="actions tips--deep" type="button">
            <svg class="actions__button" viewBox="0 0 26 26" data-source>
                <use xlink:href="/public/img/icon-sprites.svg#source"></use>
            </svg>
            <span class="actions__count"></span>
        </button>
    </a>
    <!-- Location -->
    <button ng-if="::item.location" class="timeline__location tips--deep" type="button" search="instagram---location---{{::item.location.id}}---{{::item.location.name}}">
        <svg viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#location"></use>
        </svg>
        <span class="timeline__location__name" ng-bind="::item.location.name"></span>
    </button>
</span>
