<span class="cursor--pointer">
    <!-- Retweet -->
    <button ng-click="toggleAction('retweet', item)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 34 26" data-retweet>
            <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.retweet_count > 0 ? item.retweet_count : ''}}"></span>
    </button>
    <!-- Reply -->
    <button ng-click="toggleAction('reply', item)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 26 26" data-reply>
           <use xlink:href="/public/img/icon-sprites.svg#reply"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.comments_count > 0 ? item.comments_count : ''}}"></span>
    </button>
    <!-- Source -->
    <a ng-href="//weibo.com/{{::item.user.uid}}/{{::item.mid}}" target="_blank" role="button">
        <span class="actions btn tips--deep">
            <svg class="actions__button" viewBox="0 0 26 26" data-source>
                <use xlink:href="/public/img/icon-sprites.svg#source"></use>
            </svg>
            <span class="actions__count"></span>
        </span>
    </a>
    <!-- Star -->
    <button ng-click="toggleAction('star', item)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 26 26" data-star>
            <use xlink:href="/public/img/icon-sprites.svg#star"></use>
        </svg>
        <span class="actions__count"></span>
    </button>
    <!-- Location -->
    <a ng-if="::item.location" ng-href="/weibo/location/{{::item.location.lat}}_{{::item.location.long}}?x=位置" role="button">
        <span class="timeline__location btn tips--deep">
            <svg viewBox="0 0 26 26">
                <use xlink:href="/public/img/icon-sprites.svg#location"></use>
            </svg>
        </span>
    </a>
</span>