.detail {
    position: absolute 0 * * 0;
    width: 100%;
    max-height: 100%;
    cursor: default;

    &__post {
        z-index: 2;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }

    &__wrapper {
        position: relative -39px * * *;
        margin: 0 17px;
        padding: 7px 0px 0px;
        font-size: var(--font-size-base) var(--line-height-base);
        background-color: #FFF;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 1;
    }

    &__column {
        position: relative;
        border-bottom: 1px solid var(--color-gray);

        &:last-child {
            border-bottom: 0px;
        }

        &__avatar {
            size: 27px;
            margin: 7px;
        }
        &__content {
            width: calc(100% - 27px);
            font-size: var(--font-size-small);
        }
        &__text {
            margin: 0;
        }
        &__time {
            position: absolute * 3px 1px *;
            font-size: var(--font-size-xx-small);
        }
    }
    &__row {
        margin: 0 3px;
        padding: 3px;
        white-space: nowrap;

        &__icon {
            display: block;
            height: 17px;

            svg {
                width: 27px;
                height: 17px;
            }
        }
        &__count {
            font-size: var(--font-size-xx-small);
        }
        &__cell {
            display: inline-block;
            position: relative;
            margin: 3px;
            size: 27px;
            vertical-align: middle;
            text-align: center;
        }
    }
    &__avatar {
        &::before {
            content: '';
            padding-top: 100%;
            float: left;
        }

        img {
            float: left;
            width: 100%;
            border-radius: 50%;
        }
    }
}