<span class="cursor--pointer">
    <!-- Favorite -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#favorite"></use>
        </svg>
    </button>
    <!-- Retweet -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 34 26">
            <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
        </svg>
    </button>
    <!-- Reply -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#reply"></use>
        </svg>
    </button>
    <!-- Source -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#source"></use>
        </svg>
    </button>
</span>
