<div class="timeline">
    <div class="timeline--weibo">

        <div class="timeline__profile">
            <a ng-href="//weibo.com/n/{{::tweetPreview.user.screen_name}}" target="_blank">
                <img class="timeline__profile__avatar" ng-src="{{::tweetPreview.user.avatar.replace('/50/', '/180/')}}">
            </a>
            <div class="timeline__profile__fullname">
                <a ng-href="//weibo.com/n/{{::tweetPreview.user.screen_name}}" target="_blank">
                    <strong ng-bind="::tweetPreview.user.name"></strong>
                </a>
            </div>
        </div>

        <div class="timeline__content">
            <p class="timeline__text" ng-bind-html="tweetPreview.text"></p>
        </div>

        <div ng-include=" 'controlCenter/write/component/fakeActions.html' "></div>

        <span class="timeline__time" relative-date="{{::tweetPreview.created_at}}"></span>

    </div>
</div>