<div class="timeline" ng-class="::{'mask__user_timeline': item.type !== 'retweet', 'mask__user_timeline--gutter': item.type === 'retweet', 'mask__user_timeline--location': item.location}" data-id="{{::item.r_id_str || item.id_str}}">

    <div ng-if="::item.type === 'retweet'" class="timeline__profile">
        <a ng-href="//twitter.com/{{::item.retweet.user.screen_name}}" target="_blank">
            <img class="timeline__profile__avatar" ng-src="{{::item.retweet.user.avatar.replace('normal', 'bigger')}}">
        </a>
        <div class="timeline__profile__fullname">
            <a ng-href="//twitter.com/{{::item.retweet.user.screen_name}}" target="_blank">
                <strong ng-bind="::item.retweet.user.name"></strong>
            </a>
        </div>
    </div>

    <!-- Content -->
    <div ng-include=" 'mask/component/content/twitter.html' "></div>

    <!-- Actions -->
    <div ng-include=" 'mask/component/actions/twitter.html' "></div>

    <span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>

</div>