<button ng-click="loadMore(1)" class="loadMore loadMore--initLoad loadMore--loading loadMore__count animate--faster" data-count type="button">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <circle cx="42.5" cy="100" r="15"/>
            <circle cx="100" cy="100" r="15"/>
            <circle cx="157.5" cy="100.5" r="15"/>
        </g>
    </svg>
</button>

<div class="timeline" ng-repeat="item in timelineData | orderBy: '-created_at'" data-id="{{::item.id_str}}" data-date on-finish-render="ngRepeatFinished">

    <div ng-class="::'timeline--' + item.provider" ng-include="::item.provider + '/' + item.type + '.html'"></div>

</div>

<button ng-click="loadMore(-1)" class="loadMore loadMore--initLoad loadMore__count animate--faster" data-count type="button">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <circle cx="42.5" cy="100" r="15"/>
            <circle cx="100" cy="100" r="15"/>
            <circle cx="157.5" cy="100.5" r="15"/>
        </g>
    </svg>
</button>
