<div class="loadMore loadMore--initLoad">
    <button ng-click="loadMore(1)" class="loadMore__btn loadMore__btn--loading loadMore__btn--new loadMore__btn--count animate--faster" data-count type="button" js-load-timeline>
        <load-more-icon></load-more-icon>
    </button>
</div>

<div class="timeline" ng-repeat="item in timelineData | orderBy: '-created_at'" data-id="{{::item.id_str}}" data-date on-finish-render="ngRepeatFinished">

    <div ng-class="::'timeline--' + item.provider" ng-include="::item.provider + '/' + item.type + '.html'"></div>

</div>

<div class="loadMore loadMore--initLoad">
    <button ng-click="loadMore(-1)" class="loadMore__btn loadMore__btn--count loadMore__btn--old animate--faster" data-count type="button" js-load-timeline>
        <load-more-icon></load-more-icon>
    </button>
</div>
