@import "../../common/base.css";

.timeline {
    position: relative;
    margin: 36px 7px;
    padding: 0 10px;
    background-color: var(--color-white);
    cursor: default;
    border-radius: 3px;

    &__profile {
        position: relative -24px * *;
        text-align: center;

        &__avatar {
            size: 48px;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
        }
        &__fullname {
            margin-bottom: 17px;
            font-weight: var(--font-weight-bold);
        }
    }
    &__time {
        position: absolute * 3px 3px *;
        color: #89A;
        font-size: 11px;
        cursor: pointer;
    }
    &__location {
        position: absolute 3px 3px * *;
        height: 24px;

        svg {
            fill: var(--color-steel);
            size: 20px;
        }

        &:hover {
            .timeline__location__name {
                display: inline-block;
            }
        }
        &__name {
            display: none;
            position: absolute 0 24px * *;
            width: 100px;
            text-align: right;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 11px 24px;

            @media (--all-mobile-devices){
                display: inline-block;
            }
        }
    }
    &__content {
        position: relative -24px * *;
    }
    &__text {
        margin-top: 17px;
        word-wrap: break-word;
        white-space: pre-wrap;
        line-height: 1.4;
        cursor: text;

        img {
            width: 1em;
            margin: 0 .1em;
            vertical-align: text-bottom;
        }
    }

    &--quote {
        top: -12px;
        margin: 27px 7px 7px 7px;
        background-color: var(--color-gray);
        font-size: var(--font-size-small);

        strong, p {
            color: var(--color-black);
        }
        .timeline {
            &__profile {
                top: -20px;

                &__avatar {
                    size: 40px;
                }
                &__fullname {
                    margin-bottom: 7px;
                }
            }
            &__content {
                top: -14px !important;
            }
            &__text {
                margin-top: 0;
            }
            &__time {
                font-size: 10px;
            }    
        }

    }
    &--retweet__profile__avatar {
        position: absolute -12px * * calc(50% - 72px);

        img {
            size: 24px;
        }
        &::after {
            content: '';
            position: absolute 8px -18px * *;
            size: 13px 8px;
            background: inline('retweet_in_tweet.png') no-repeat;
            background-size: 13px 8px;
        }
    }
    
    &--twitter {
        ::selection {
            color: var(--color-gray);
            background-color: rgba(42, 169, 224, 0.7);
        }
        .timeline__profile__avatar {
            border-color: var(--color-twitter);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-twitter);
            }
        }
        img, video {
            background: var(--color-white) inline('background--twitter.png') repeat;
        }
    }
    &--instagram {
        ::selection {
            color: var(--color-gray);
            background-color: rgba(63, 93, 135, 0.7);
        }
        .timeline__profile__avatar {
            border-color: var(--color-instagram);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-instagram);
            }
        }
        img, video {
            background: var(--color-white) inline('background--instagram.png') repeat;
        }
    }
    &--weibo {
        ::selection {
            color: var(--color-gray);
            background-color: rgba(230, 22, 45, 0.7);
        }
        .timeline__profile__avatar {
            border-color: var(--color-weibo);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-weibo);
            }
        }
        img, video {
            background: var(--color-white) inline('background--weibo.png') repeat;
        }
    }


    &__action {
        display: none;
        position: absolute 7px 5px * *;
        size: 20px 6px;
        cursor: pointer;
        z-index: 3;

        @media (--all-mobile-devices){
            display: block;
        }
    }

    &:hover {
        .timeline__action {
            display: block;
        }
    }
}