<!-- 寫推 -->
<button class="mask__menu--row mask__menu--row--2 mask__menu__button icon--twitter tips animate--faster" ng-click="setControlCenter('', 'write_twitter-tweet')" type="button">
    <svg viewBox="0 0 200 200">
       <use xlink:href="/public/img/icon-sprites.svg#newTweet"></use>
    </svg>
</button>
<!-- 用戶信息 TODO -->

<!-- 通知 -->
<button class="mask__menu--row mask__menu--row--2 mask__menu__button icon--twitter tips animate--faster" ng-click="setControlCenter('', 'notification_twitter')" type="button">
    <svg viewBox="0 0 200 200">
       <use xlink:href="/public/img/icon-sprites.svg#notification"></use>
    </svg>
</button>
