<!-- 寫推 -->
<button class="mask__menu--row mask__menu--row--2 mask__menu--row--2--1 mask__menu__button icon--weibo tips animate--faster" ng-click="setControlCenter('write_weibo-tweet')" type="button">
    <svg viewBox="0 0 200 200">
       <use xlink:href="/public/img/icon-sprites.svg#newTweet"></use>
    </svg>
</button>
<!-- 用戶信息 -->
<button user-profile="weibo" class="mask__menu--row mask__menu--row--2 mask__menu--row--2--2 mask__menu__button icon--weibo btn tips animate--faster" type="button">
    <svg viewBox="0 0 200 200">
       <use xlink:href="/public/img/icon-sprites.svg#profile"></use>
    </svg>
</button>

<!-- Switch -->
<button ng-if="::providerList.indexOf('twitter') >= 0" class="mask__menu__button mask__menu__button--switch mask__menu__button--switch--left icon--twitter tips--deep--peace" type="button" show-menu="twitter">
    <svg viewBox="0 0 77 77">
        <use xlink:href="/public/img/icon-sprites.svg#2"></use>
    </svg>
</button>
<button ng-if="::providerList.indexOf('instagram') >= 0" class="mask__menu__button mask__menu__button--switch mask__menu__button--switch--right icon--instagram tips--deep--peace" type="button" show-menu="instagram">
    <svg viewBox="0 0 77 77">
        <use xlink:href="/public/img/icon-sprites.svg#2"></use>
    </svg>
</button>