<div class="timeline__profile">
    <button ng-click="setControlCenter('userProfile')" user-profile="::item.user" provider="instagram" from="timeline" type="button">
        <img class="timeline__profile__avatar timeline__profile__avatar--instagram" ng-src="{{::item.user.avatar}}">
    </button>
    <div class="timeline__profile__fullname">
        <a ng-href="//instagram.com/{{::item.user.screen_name}}" target="_blank">
            <strong ng-bind="::item.user.name"></strong>
        </a>
    </div>
</div>

<div class="timeline__content">

    <div ng-include=" 'media/instagram.html' "></div>
    <p class="timeline__text" linkify="instagram">{{::item.text | html}}</p>
</div>

<div ng-include=" 'actions/instagram.html' "></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
