<div ng-if="loadState !== 'initLoad'" class="timeline mask animate--enter">

    <div class="timeline--twitter">
        <!-- Header -->
        <div ng-switch="mask.type" class="mask__header mask__header--weibo">
            <!-- Location -->
            <a ng-switch-when="location" ng-href="{{::mask.title ? '//weibo.com/p/100101' + mask.title.split('_')[1] : '//maps.google.com/maps?z=12&t=h&q=loc:' + mask.q.split('_')[0] + '+' + mask.q.split('_')[1]}}" target="_blank" role="button">
                <span class="mask__header__title btn icon--weibo tips--deep">
                    <svg viewBox="0 0 60 60">
                       <use xlink:href="/public/img/icon-sprites.svg#location"></use>
                    </svg>
                    <span ng-bind="mask.title.split('_')[0]"></h3>
                </span>
            </a>
            <!-- Tags -->
        </div>

        <!-- Timeline -->
        <div ng-if="mask.timeline.length > 0">
            <div ng-repeat="item in mask.timeline | orderBy: '-created_at'" ng-include=" 'mask/component/timeline/weibo.html' ">
            </div>
        </div>
    </div>

</div>

<div class="loadMore loadMore--old" ng-class="{'loadMore--initLoad': loadState === 'initLoad'}">
    <button ng-if="loadState === 'initLoad' || mask.timeline.length >= 5" ng-click="loadMaskTimeline()" class="loadMore__btn loadMore__btn--old loadMore__btn--weibo animate--faster"  ng-class="{'loadMore__btn--loading': loadState !== 'loadFin', 'loadMore__btn--loading--fail': loadState === 'loadFail'}" type="button">
        <load-more-icon></load-more-icon>
    </button>
</div>