<div class="timeline profile">

    <div class="timeline--instagram profile--instagram">
        <!-- Profile -->
        <a class="timeline__profile profile__avatar" ng-href="//instagram.com/{{::user.screen_name}}" target="_blank">
            <img class="timeline__profile__avatar" ng-src="{{::user.avatar}}" alt="avatar">
        </a>
        <div class="timeline__profile timeline__profile__fullname">
            <a ng-href="//instagram.com/{{::user.screen_name}}" target="_blank">
                <strong ng-bind="::user.name ? user.name : user.screen_name"></strong>
            </a>
        </div>

        <div ng-if="true" ng-include=" 'mask/user/component/profile.html' " onload="_p_type = 'post'; _p_provider = 'instagram' "></div>

        <!-- Timeline -->
        <div ng-if="user.timeline.length > 0">
            <div ng-repeat="item in user.timeline | orderBy: '-created_at'" ng-include=" 'mask/component/user_timeline/instagram.html' "></div>
        </div>
    </div>

</div>

<div class="loadMore loadMore--old" ng-class="{'loadMore--initLoad': loadState === 'initLoad'}">
    <button ng-if="loadState === 'initLoad' || user.timeline.length >= 7 && !user.protected" ng-click="loadUserTimeline()" class="loadMore__btn loadMore__btn--old loadMore__btn--instagram animate--faster"  ng-class="{'loadMore__btn--loading': loadState !== 'loadFin', 'loadMore__btn--loading--fail': loadState === 'loadFail'}" type="button">
        <load-more-icon></load-more-icon>
    </button>
</div>