.post-action {
    position: relative;
    padding-right: 3px;
    margin-right: 5px;
    height: 28px;

    &__button {
        display: inline-block;
        height: 17px;
        vertical-align: middle;
        fill: var(--color-steel);

        &--inprocess {
            cursor: default;
            animation: waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
    }
    &__count {
        display: inline-block;
        margin-left: 1px;
        height: 28px;
        vertical-align: middle;

        &::after {
            content: attr(data-count);
            font-size: 10px 28px;
            color: var(--color-steel);
        }
    }
}

.post--quote {
    .post-action {
        &__button {
            height: 15px;

            &--retweet {
                width: 18px;
            }
        }
        &__count {
            &::after {
                content: attr(data-count);
                font-size: 8px;
                color: var(--color-steel);
            }
        }
    }
}