extend ./base.jade

block title
    title ｜ #{provider.substr(0, 1).toUpperCase() + provider.substr(1)}

block styles
    include ./styles/dist/base.css
    include ./styles/dist/authCallback.css

block content
    .oneline.overflow--y
        .social-list.social-list--one.vertically_center
            if provider === 'twitter'
                include ./icons/twitter.svg
            else if provider === 'instagram'
                include ./icons/instagram.svg
            else if provider === 'weibo'
                include ./icons/weibo.svg

    script(type='text/javascript').
        // Cross-tab Communication
        localStorage.setItem('addToken', !{JSON.stringify(token)})
        localStorage.setItem('profile_' + !{JSON.stringify(provider)}, !{JSON.stringify(JSON.stringify(profile))})

        setTimeout(function (){
            var socialIcon = document.getElementsByClassName('social-icon')[0];
            socialIcon.setAttribute('class', socialIcon.getAttribute('class') + ' social-icon--active')
            setTimeout(function (){
                window.close()
            }, 1000)
        }, 500)
