<div class="timeline timeline--weibo mask__timeline" data-id="{{::item.r_id_str || item.id_str}}" data-created="{{::item.created_at}}">

    <div class="timeline__profile" ng-init="_author = item.type === 'retweet' ? item.retweet.user : item.user">
        <a ng-href="//weibo.com/n/{{::_author.screen_name}}" target="_blank">
            <img class="timeline__profile__avatar" ng-src="{{::_author.avatar.replace('/50/', '/180/')}}">
        </a>
        <div class="timeline__profile__fullname">
            <a ng-href="//weibo.com/n/{{::_author.screen_name}}" target="_blank">
                <strong ng-bind="::_author.name"></strong>
            </a>
        </div>
    </div>

    <!-- Content -->
    <div ng-include=" 'mask/component/content/weibo.html' "></div>

    <!-- Actions -->
    <span class="cursor--pointer">
        <!-- Source -->
        <a ng-href="//weibo.com/{{::_author.uid}}/{{::item.mid}}" target="_blank" role="button">
            <span class="actions btn tips--deep">
                <svg class="actions__button" viewBox="0 0 26 26">
                    <use xlink:href="/public/img/icon-sprites.svg#source"></use>
                </svg>
                <span class="actions__count"></span>
            </span>
        </a>
        <!-- Location -->
        <a ng-if="::item.location" ng-href="//maps.google.com/maps?z=12&t=h&q=loc:{{::item.location.lat}}+{{::item.location.long}}" target="_blank" role="button">
            <span class="timeline__location btn tips--deep">
                <svg viewBox="0 0 60 60">
                   <use xlink:href="/public/img/icon-sprites.svg#location"></use>
                </svg>
            </span>
        </a>
    </span>

    <span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>

</div>