<span class="cursor--pointer">
    <!-- Retweet -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 34 26" data-retweet>
            <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.retweet_count > 0 ? item.retweet_count : ''}}"></span>
    </button>
    <!-- Reply -->
    <button class="actions tips--frozen" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
            <use xlink:href="/public/img/icon-sprites.svg#reply">
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.comments_count > 0 ? item.comments_count : ''}}"></span>
    </button>
    <!-- Source -->
    <a ng-href="//weibo.com/{{::item.user.uid}}/{{::item.mid}}" target="_blank">
        <button class="actions tips--deep" type="button">
            <svg class="actions__button" viewBox="0 0 26 26">
                <use xlink:href="/public/img/icon-sprites.svg#source"></use>
            </svg>
            <span class="actions__count"></span>
        </button>
    </a>
    <!-- Location -->
    <a ng-if="::item.location" ng-href="//maps.google.com/maps?z=12&t=h&q=loc:{{::item.location.lat}}+{{::item.location.long}}" target="_blank">
        <button class="timeline__location tips--deep" type="button">
            <svg viewBox="0 0 60 60">
               <use xlink:href="/public/img/icon-sprites.svg#location"></use>
            </svg>
        </button>
    </a>
</span>