.post-action {
    position:  absolute * * 0 7px;
    width: calc(100% - 14px);

    &__btn {
        position: relative;
        height: 23px;
        padding-right: 3px;
        margin-right: 5px;
    }
    &__icon {
        height: 17px;
        display: inline-block;
        vertical-align: middle;
    }
    &__count {
        height: 23px;
        display: inline-block;
        margin-left: 1px;
        vertical-align: middle;

        &::after {
            content: attr(data-count);
            font-size: 10px 23px;
        }
    }

    &__hide {
        opacity: .2;
    }
    @media (--all-mobile-devices){
        &__hide {
            opacity: 1;
        }
    }
    &:hover &__hide {
        opacity: 1;
    }
}

.post--quote {
    .post-action {
        &__icon {
            height: 15px;
        }
        &__count {
            &::after {
                content: attr(data-count);
                font-size: 8px;
            }
        }
    }
}