.post-profile {
    position: relative -24px * *;
    text-align: center;

    &__avatar {
        size: 48px;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;

        &--retweet {
            position: absolute -12px * * calc(50% - 72px);

            img {
                size: 24px;
            }
            &::after {
                content: '';
                position: absolute 8px -18px * *;
                size: 13px 8px;
                background: inline('retweet_in_tweet.png') no-repeat;
                background-size: 13px 8px;
            }
        }
    }
    &__fullname {
        margin-bottom: 17px;
        font-weight: var(--font-weight-bold);

        a, a:visited {
            color: #000;
        }
    }
}

.post--quote {
    .post-profile {
        top: -20px;

        &__avatar {
            size: 40px;
        }
        &__fullname {
            margin-bottom: 7px;
        }
    }
}
.provider {
    &--twitter .post-profile {
        border-color: var(--color-twitter);
    }
    &--instagram .post-profile {
        border-color: var(--color-instagram);
    }
    &--weibo .post-profile {
        border-color: var(--color-weibo);
    }
}