@import "helpers/variables";

.scrollTo {
    position: fixed;
    width: 48px;
    height: 48px;
    left: calc(50% - 24px);
    border-radius: 50%;
    z-index: 3;

    &--top {
        top: -48px;

        &--active {
            top: 0px;
        }
    }

    &--target {
        position: absolute 0 * * 0;
    }
}