.scrollTo {
    position: fixed * * * calc(50% - 24px);
    size: 48px;
    z-index: 3;

    &--top {
        transform: translateY(-48px);

        &--active {
            transform: translateY(0px);
        }
    }

    &--target {
        position: absolute 0 * * 0;
    }
}