.menu {
    position: absolute 11.5% * * 0%;
    size: 100% 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    &__btn {
        size: 70px;
    }
}