<div ng-if="controlCenter" class="animate--general"> 
    <!-- Replicant -->
    <div ng-if="::controlCenter.indexOf('replicant') >= 0" ng-include=" 'controlCenter/replicant/' + controlCenter.replace('replicant--', '') + '.html' " class="replicant animate--general">
    </div>
    <!-- Write -->
    <div ng-if="::controlCenter.indexOf('write') >= 0" ng-include=" 'controlCenter/write/' + controlCenter.replace('write_', '').split('-')[0] + '.html' " class="animate--general">
    </div>
    <!-- Read -->
    <div ng-if="::controlCenter.indexOf('read_') >= 0" ng-include=" 'controlCenter/read/' + controlCenter.replace('read_', '').split('-')[0] + '.html' " class="animate--general">
    </div>
</div>