.detail {
    position: relative;
    width: 100%;
    cursor: default;

    &__post {
        z-index: 2;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }

    &__container {
        position: relative -39px * * *;
        margin: 0 17px;
        padding: 7px 0px 0px;
        font-size: var(--font-size-base) var(--line-height-base);
        background-color: #FFF;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 1;
    }

    &__row {
        justify-content: flex-start;
        position: relative;
        padding: 7px;
        border-top: 1px solid #F1F1F1;

        &--reply {
            border-top: 1px dashed #63DA38;
        }

        &__avatar {
            display: inline-block;
            size: 27px;
            margin-right: 7px;
            overflow: hidden;
        }
        &__content {
            font-size: var(--font-size-small);
        }
        &__text {
            margin: 0;
        }
        &__time {
            position: absolute * 3px 1px *;
            font-size: var(--font-size-xx-small);
        }
    }
    &__userColumn {
        overflow: hidden;

        > div {
            padding: 7px;
            white-space: nowrap;
        }
        &--like, &--share {
            border-top: 1px dashed #E9574F;
        }
        &--retweet {
            border-top: 1px dashed #1BADF8;
        }
        &__item {
            display: inline-block;
            position: relative;
            margin: 3px;
            size: 30px;
            vertical-align: middle;
            text-align: center;
        }
    }
    &__actionsColumn {
        display: flex;
        justify-content: space-around;
        padding: 7px;

        &__icon {
            position: relative;
            text-align: center;
            height: 30px;

            &::before {
                content: attr(data-text);
                position: absolute * * 0 0;
                width: 100%;
                font-size: var(--font-size-xx-small);
                line-height: 13px;
            }
            svg {
                width: 30px;
                height: 17px;
            }
        }
    }
    &__avatar {
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}