.share {
    position: relative calc(50vh - 65px) * *;
    size: 100% 130px;
    background: var(--color-gray);
    cursor: default;

    &__text {
        position: absolute 15px * * 1.5%;
        size: 97% 70px;
        font-size: 14px;
        line-height: 1.4;
    }
    &__toolBar {
        position: absolute * * 0px 0px;
        size: 100% 45px;
        text-align: center;
    }
    &__btn {
        position: relative;
        size: 20px;
        margin: * 17px * 17px;
    }
}