.write {
    &__form {
        position: absolute * * 0 0;
        size: 100% 33.3%;
        background-color: var(--color-gray);
        z-index: 5;
        cursor: default;
        overflow: hidden;
    }
    &__textarea {
        position: relative 17% * * 5%;
        size: 90% 60%;
        background-color: var(--color-white);
        border-radius: 3px;

        &:disabled {
            background-color: var(--color-gray);
            cursor: not-allowed;
            user-select: none;
        }
        &--err {
            animation: errFormAnimate .5s ease-in-out;
        }
        &--mirror {
            position: absolute 17% * * 5%;
            padding: 5px;
            z-index: -9999;

            span {
                opacity:0;
                word-wrap: break-word;
                white-space: pre-wrap;
            }
        }
    }
    &__input {
        position: relative 0 * * 0;
        size: 90% 100%;
        padding: 7px;
        background-color: var(--color-white);
        border-radius: 3px;

        &--submit {
            position: absolute 2.5px 1% * *;
            size: 9% 27px;
        }
    }
    &__toolBar {
        position: relative 17% * *;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7px auto;

        &--left {
            display: flex;
        }

        &__btn {
            position: relative;
            size: 27px;
            display: inline-block;
            padding: 4px;
            cursor: pointer;

            &--send {
                padding: 0;

                svg {
                    animation: writingAnimate .3s infinite linear;
                    animation-play-state: paused;
                }
                &::before {
                    content: attr(data-count);
                    position: absolute * 28px 0 *;
                    color: var(--color-steel);
                    font-size: 7px;
                }

                &--typing {
                    svg {
                        animation-play-state: running;
                    }
                }
                &:disabled {
                    filter: brightness(0);
                    cursor: not-allowed;

                    svg {
                        animation-play-state: paused;
                    }
                    &::before {
                        color: var(--color-weibo);
                    }
                }
                &--sending {
                    animation: sendingAnimate 1.7s infinite cubic-bezier(0.4, 0, 1, 1);

                    svg {
                        animation-play-state: running;
                    }
                    &::before {
                        content: '';
                    }
                }
            }
        }
    }
    &__mediaPreview {
        position: absolute * * 0 calc(50% - 54px - 9px);
        transform: translateY(7px);

        &__item {
            size: 27px;
            display: inline-block;
            margin-right: 3px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 3px 3px 0 0;

            img {
                width: 27px;
            }

            &:hover {
                transform: translateY(-7px);
            }
        }
    }
    &__popup {
        position: absolute 17% * * *;
        size: 33.3% 60%;
        background-color: var(--color-gray-drak);

        &--left {
            left: 5%;
            border-radius: 3px 0 0 3px;
        }
        &--right {
            left: 61.7%;
            border-radius: 0 3px 3px 0;
        }
    }
    &__emotions {
        display: flex;
        flex-flow: row wrap;
        z-index: 2;

        button {
            flex: 0 0 25%;
            position: relative;
            padding: 7px;
            border: 1px solid;
            border-color: var(--color-gray-drak);
            overflow: hidden;

            @media (--phone){
                flex-basis: 33.3%;
            }

            &::before {
                content: '';
                padding-top: 100%;
            }
            &:hover {
                background-color: var(--color-gray);
            }

            img {
                width: 100%;
            }
        }
    }
    &__mentions {
        z-index: 3;

        button {
            display: block;
            size: 100% 32px;
            padding: 3px;
            border-bottom: 1px solid var(--color-gray);
            border-radius: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
                background-color: var(--color-gray);
            }
        }
    }
    &__livePreview {
        position: absolute 0 * * 0;
        width: 100%;
        max-height: 66.7%;
    }
}

@keyframes writingAnimate {
    from {
        transform: rotate(0deg) translateX(1px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(1px) rotate(-360deg);
    }
}
@keyframes sendingAnimate {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-27px);
    }
}