<div class="loadMore loadMore--new" ng-class="{'loadMore--initLoad': loadState === 'initLoad'}">
    <button ng-click="loadDirect('new')" class="loadMore__btn loadMore__btn--twitter loadMore__btn--new animate--faster" ng-class="{'loadMore__btn--loading': loadState !== 'loadFin', 'loadMore__btn--loading--fail': loadState === 'loadFail'}" type="button">
        <load-more-icon></load-more-icon>
    </button>
</div>

<div ng-if="notifications.length > 0" class="timeline profile mask__notification overflow--y animate--faster animate--enter">
    <div class="timeline--twitter profile--twitter">

        <div class="mask__source">
            <a href="https://twitter.com/messages" target="_blank">
                <svg viewBox="0 0 28 23">
                   <use xlink:href="/public/img/icon-sprites.svg#direct_msg"></use>
                </svg>
            </a>
        </div>

        <!-- Timeline -->
        <div class="timeline mask__msg" ng-repeat="item in notifications track by item.id_str" ng-class="::item.sender.uid === _authUid ? 'mask__msg--me' : 'mask__msg--others'">

            <div class="mask__msg__content">
                <p class="mask__msg__text" linkify="twitter" ng-bind-html="::item.text"></p>
                <div ng-if="::item.media" ng-include=" 'media/twitter.html' "></div>
            </div>

            <span class="mask__msg__time tips" relative-date="{{::item.created_at}}">
            </span>
        </div>

    </div>
</div>

<div ng-if="senderList.length > 0" class="mask__sender overflow--x animate--faster" disable-back>
    <button ng-repeat="item in senderList" ng-click="showDirect(item.uid)" class="tips--deep--peace animate--faster" js-direct-sender="{{::item.uid}}">
        <img ng-src="{{::item.avatar}}" alt="">
    </button>
</div>