.color {
    &--white {
        color: var(--color-white);
    }
    &--gray-drak {
        color: var(--color-gray-drak);
    }
    &--gray {
        color: var(--color-gray);
    }
    &--steel {
        color: var(--color-steel);
    }
    &--current {
        &--fill {
            fill: currentColor;
        }
    }

    &--twitter {
        color: var(--color-twitter);
    }
    &--weibo {
        color: var(--color-weibo);
    }
    &--unsplash {
        color: var(--color-unsplash);
    }
    &--like {
        color: #E9574F;
    }
    &--retweet {
        color: #1BADF8;
    }
    &--reply {
        color: #63DA38;
    }
    &--star {
        color: #FFE33B;
    }
}