@import "helpers/variables";

.icon {
    &--twitter{
        svg {
            fill: var(--color-twitter) !important;
        }
    }
    &--instagram {
        svg {
            fill: var(--color-instagram) !important;
        }
    }
    &--weibo {
        svg {
            fill: var(--color-weibo) !important;
        }
    }
    &--like {
        svg {
            fill: #E9574F;
        }
    }
    &--retweet {
        svg {
            fill: #1BADF8;
        }
    }
    &--reply {
        svg {
            fill: #63DA38;
        }
    }
    &--star {
        svg {
            fill: #FFE33B;
        }
    }
    &--inactive,
    &--calendar {
        svg {
            fill: #C1C9D2;
        }
    },
    &--gray-drak {
        svg {
            fill: var(--color-gray-drak);
        }
    }
    &--white {
        svg {
            fill: var(--color-white);
        }
    }
}