<div ng-include=" 'twitter/component/profile--retweet.html' "></div>

<div ng-include=" 'twitter/component/content.html' "></div>

<button class="timeline--retweet__profile__avatar" user-profile="twitter:timeline" type="button" ng-init="::_profile = item.user">
    <img class="timeline__profile__avatar" ng-src="{{::item.user.avatar.replace('normal', 'bigger')}}" alt="avatar">
</button>

<div ng-include=" 'actions/twitter.html' "></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
