<div class="timeline__media">

    <div ng-if="::!item.videos" class="timeline__media--instagram">
        <a ng-href="{{::item.images.standard_resolution}}" class="icon--instagram" target="_blank">
            <svg class="timeline__media__jumpButton tips--deep animate--faster" viewBox="0 0 100 100">
                <use xlink:href="/public/img/icon-sprites.svg#eyeball"></use>
            </svg>
        </a>

        <img ng-src="{{::item.images.standard_resolution}}" handle-image-error>
    </div>

    <ol-video ng-if="::item.videos" ol-src="{{::item.videos.standard_resolution}}" ol-poster="{{::item.images.low_resolution}}"></ol-video>

</div>
