<div class="loadMore loadMore--new" ng-class="{'loadMore--initLoad': loadState === 'initLoad'}">
    <button ng-click="loadMentions('new')" class="loadMore__btn loadMore__btn--twitter loadMore__btn--new animate--faster" ng-class="{'loadMore__btn--loading': loadState !== 'loadFin', 'loadMore__btn--loading--fail': loadState === 'loadFail'}" type="button">
        <load-more-icon></load-more-icon>
    </button>
</div>

<div ng-if="notifications.length > 0" class="timeline profile mask__notification overflow--y animate--enter">
    <div class="timeline--twitter profile--twitter">

        <div class="mask__source">
            <a href="https://twitter.com/mentions" target="_blank">
                <svg viewBox="0 0 26 26">
                   <use xlink:href="/public/img/icon-sprites.svg#mentions"></use>
                </svg>
            </a>
        </div>

        <!-- Timeline -->
        <div ng-repeat="item in notifications | orderBy: '-created_at'" ng-include=" 'mask/component/timeline/twitter.html' ">
        </div>

    </div>
</div>