@keyframes onelineEnterAnimate {
    0% {
        transform: scaleX(.01);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes loadAnimate--twitter {
    0, 33.3%, 100% {
        fill: var(--color-gray);
    }
    16.6% {
        fill: var(--color-twitter);
    }
}
@keyframes loadAnimate--instagram {
    0, 33.3%, 66.7%, 100% {
        fill: var(--color-gray);
    }
    50% {
        fill: var(--color-instagram);
    }
}
@keyframes loadAnimate--weibo {
    0, 66.7%, 100% {
        fill: var(--color-gray);
    }
    83.3% {
        fill: var(--color-weibo);
    }
}
@keyframes imgLoadAnimate {
    0%, 100% {
        filter: grayscale(0%);
        opacity: 1;
    }
    50% {
        filter: grayscale(100%);
        opacity: .3;
    }
}
@keyframes usersInPhotoAnimate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes errFormAnimate {
    0%, 100% {
        background-color: var(--color-white);
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-6px);
    }
    37.5% {
        transform: translateX(5px);
    }
    50% {
        background-color: var(--color-weibo);
    }
    62.5% {
        transform: translateX(-3px);
    }
    87.5% {
        transform: translateX(2px);
    }
}
@keyframes writingAnimate {
    from {
        transform: rotate(0deg) translateX(1px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(1px) rotate(-360deg);
    }
}
@keyframes sendingAnimate {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-27px);
    }
}
@keyframes waitAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes inprocessAnimate {
    0%, 100% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
}
@keyframes tipsErrAnimate {
    0%, 100% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-4px);
    }
    37.5% {
        transform: translateX(4px);
    }
    62.5% {
        transform: translateX(-2px);
    }
    87.5% {
        transform: translateX(2px);
    }
}
@keyframes enterAnimate {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}