<div class="read overflow--y" read>
    <div ng-if="!readType" class="loadMore loadMore--initLoad loadMore--loading animate--faster"></div>

    <div ng-if="readType === 'like'">
        <span ng-repeat="item in readItems" class="read__avatar">
            <a ng-href="//instagram.com/{{::item.username}}" target="_blank">
                <img ng-src="{{::item.profile_picture}}">
            </a>
        </span>
    </div>

    <ul ng-if="readType === 'reply'">
        <li ng-repeat="item in readItems | orderBy: '- created_time'" class="read__item">
            <div class="read__profile">
                <a ng-href="//instagram.com/{{::item.from.username}}" target="_blank">
                    <img ng-src="{{::item.from.profile_picture}}">
                </a>
            </div>
            <div class="read__text">
                <p class="vertically_center" linkify="instagram">{{::item.text | html}}</p>
                <span class="read__time tips" relative-date="{{::item.created_time * 1000}}"></span>
            </div>            
        </li>
    </ul>
</div>