<form name="newTweetForm" write>

    <textarea class="write__textarea animate--general" type="text" name="tweet" autocomplete="off" spellcheck="false" required></textarea>

    <div class="write__toolBar">
        <!-- left -->
        <geo-picker></geo-picker>
        <media-upload provider="twitter"></media-upload>
        <!-- right -->
        <button class="write__btn write__btn--send write__btn--twitter tips" type="submit" data-count disabled>
            <svg viewBox="0 0 113 72">
                <use xlink:href="/public/img/icon-sprites.svg#writing"></use>
            </svg>
        </button>
    </div>

    <div class="write__previews"></div>
</form>
<button ng-if="::providerList.indexOf('weibo') >= 0" ng-click="setControlCenter('', 'write_weibo-tweet')" class="switch-icon animate--faster tips" type="button">
    <svg viewBox="0 0 300 300">
        <use xlink:href="/public/img/icon-sprites.svg#twitter"></use>
    </svg>
</button>