<form name="newTweetForm" write>

    <textarea class="write__textarea animate--general" type="text" name="tweet" autocomplete="off" spellcheck="false" required></textarea>

    <div class="write__toolBar">
        <!-- left -->
        <geo-picker></geo-picker>
        <media-upload provider="twitter"></media-upload>
        <!-- right -->
        <button class="write__btn write__btn--send icon--twitter tips" type="submit" data-count disabled>
            <svg viewBox="0 0 113 72">
                <use xlink:href="/public/img/icon-sprites.svg#writing"></use>
            </svg>
        </button>
    </div>

    <div class="write__previews"></div>
</form>
<div class="switch-icon">
    <button ng-if="::controlCenter.indexOf('write_twitter-retweet') >= 0" ng-click="setControlCenter('', 'read_twitter-retweet:' + controlCenter.split(':')[1])" class="icon--twitter animate--faster tips" type="button">
        <svg viewBox="0 0 283 150">
            <use xlink:href="/public/img/icon-sprites.svg#2Retweet"></use>
        </svg>
    </button>
    <button ng-if="::providerList.indexOf('weibo') >= 0 && controlCenter.indexOf('write_twitter-tweet') >= 0" ng-click="setControlCenter('', 'write_weibo-tweet')" class="animate--faster tips--deep" type="button">
        <svg viewBox="0 0 283 150">
            <use xlink:href="/public/img/icon-sprites.svg#2Weibo"></use>
        </svg>
    </button>
</div>