<form name="newTweetForm" write>

    <textarea class="write__textarea animate--general" type="text" name="tweet" autocomplete="off" spellcheck="false" required></textarea>

    <div class="write__toolBar">
        <!-- left -->
        <weibo-emotions></weibo-emotions>
        <geo-picker ng-if="::controlCenter.indexOf('write_weibo-tweet') >= 0"></geo-picker>
        <!-- right -->
        <button class="write__btn write__btn--send icon--weibo tips" type="submit" data-count disabled>
            <svg viewBox="0 0 113 72">
                <use xlink:href="/public/img/icon-sprites.svg#writing"></use>
            </svg>
        </button>
    </div>

    <div class="write__previews"></div>
</form>
<div ng-if="isShowMentions" class="write__mentions overflow--x animate--faster" disable-back>
    <button ng-repeat="mention in mentionsList" ng-click="insertMention(mention, 'weibo')" ng-bind="mention"></button>
</div>
<div class="switch-icon">
    <button ng-if="::controlCenter.indexOf('write_weibo-reply') >= 0" ng-click="setControlCenter('', 'read_weibo-reply:' + controlCenter.split(':')[1])" class="icon--weibo animate--faster tips" type="button">
        <svg viewBox="0 0 283 150">
            <use xlink:href="/public/img/icon-sprites.svg#2Reply"></use>
        </svg>
    </button>
    <button ng-if="::providerList.indexOf('twitter') >= 0 && controlCenter.indexOf('write_weibo-tweet') >= 0" ng-click="setControlCenter('', 'write_twitter-tweet')" class="animate--faster tips--deep" type="button">
        <svg viewBox="0 0 283 150">
            <use xlink:href="/public/img/icon-sprites.svg#2Twitter"></use>
        </svg>
    </button>
</div>