<div ng-include=" 'weibo/component/profile--retweet.html' "></div>

<div ng-include=" 'weibo/component/content--retweet.html' "></div>

<button class="timeline--retweet__profile__avatar" user-profile="weibo:timeline" type="button" ng-init="::_profile = item.user; _id_str = item.r_id_str">
    <img class="timeline__profile__avatar" ng-src="{{::item.user.avatar.replace('/50/', '/180/')}}" alt="avatar">
</button>

<div ng-include=" 'actions/weibo.html' "></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
