<div class="read overflow--y" ng-class="{'read--reply': readType === 'reply'}" read>

    <div ng-if="!readType" class="loadMore loadMore--initLoad loadMore--loading animate--faster">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
                <path class="animate--faster" d="M57.5 100c0-8.3-6.7-15-15-15s-15 6.7-15 15 6.7 15 15 15 15-6.7 15-15z" fill="#2AA9E0"/>
                <path class="animate--faster" d="M115 100c0-8.3-6.7-15-15-15s-15 6.7-15 15 6.7 15 15 15 15-6.7 15-15z" fill="#3F5D87"/>
                <path class="animate--faster" d="M172.5 100c0-8.3-6.7-15-15-15s-15 6.7-15 15 6.7 15 15 15 15-6.7 15-15z" fill="#E6162D"/>
            </g>
        </svg>
    </div>

    <div ng-if="readType === 'retweet'" class="read__like">
        <button ng-repeat="item in ::readItems" class="read__like__avatar timeline__media--inactive" type="button" user-profile="::item" provider="twitter" from="controlCenter">
            <img ng-src="{{::item.avatar}}">
        </button>

        <div ng-if="readItems.length === 0" class="read--empty icon--inactive vertically_center">
            <svg viewBox="0 0 34 26">
                <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
            </svg>
        </div>
    </div>

    <ul ng-if="readType === 'reply'" class="read__reply">
        <li ng-repeat="item in ::readItems | orderBy: '- created_at'" class="vertically_center">
            <button class="read__reply__avatar timeline__media--inactive" type="button" user-profile="::item" provider="twitter" from="controlCenter">
                <img ng-src="{{::item.avatar}}">
            </button>
            <div class="read__reply__text">
                <p linkify="twitter">{{::item.text | html}}</p>
                <span class="read__reply__time tips" relative-date="{{::item.created_at}}"></span>
            </div>
        </li>

        <div ng-if="readItems.length === 0" class="read--empty icon--inactive vertically_center">
            <svg viewBox="0 0 26 26">
                <use xlink:href="/public/img/icon-sprites.svg#reply"></use>
            </svg>
        </div>
    </ul>
</div>
<div class="switch-icon">
    <button ng-click="setControlCenter('', 'write_twitter-retweet:' + controlCenter.split(':')[1])" class="icon--twitter animate--faster tips" type="button">
        <svg viewBox="0 0 283 150">
            <use xlink:href="/public/img/icon-sprites.svg#2Write"></use>
        </svg>
    </button>
</div>