<div ng-if="::item.type !== 'retweet'" class="timeline__content">
    <p class="timeline__text" linkify="weibo" weibo-emotify trim-suffix-link="{{::item.location}}">{{::item.text | html}}</p>
    <div ng-if="::item.media && item.type === 'tweet' && item.media.length > 0" ng-include=" 'media/weibo.html' "></div>
</div>

<div ng-if="::item.type === 'retweet'" class="timeline__content">
    <p class="timeline__text" linkify="weibo" weibo-emotify>{{::item.retweet.text | html}}</p>

    <div ng-if="::item.media && item.media.length > 0" ng-include=" 'media/weibo.html' "></div>
</div>

<a ng-if="::item.type === 'retweet'" class="timeline--retweet__profile__avatar" ng-href="//weibo.com/n/{{::item.user.screen_name}}" target="_blank">
    <img class="timeline__profile__avatar" ng-src="{{::item.user.avatar}}" alt="avatar">
</a>

<!-- Quote -->
<div ng-if="::item.type === 'quote'" class="timeline timeline--quote timeline--quote--weibo">

    <div ng-include=" 'mask/component/quote_profile/weibo.html' "></div>

    <div ng-include=" 'weibo/component/content--retweet.html' "></div>

    <div ng-include=" 'actions/weibo--quote.html' "></div>

    <span class="timeline__time" relative-date="{{::item.retweet.created_at}}"></span>

</div>
