.controlCenter {
    position: absolute * * 0;
    height: 0%;
    background-color: var(--color-gray);
    z-index: 5;

    &--active {
        height: 20%;

        &--deep {
            height: 33.3%;
        }
    }

    &__wrapper {
        display: table;
        position: absolute;
        size: 100%;
    }
}
.cancelMask {
    position: absolute 0 * *;
    height: 100%;
    z-index: 4;
    cursor: pointer;
    background-color: var(--color-black-alpha);

    &__wrapper {
        position: absolute;
        size: 100% 66.7%;

        &--verticallyCenter {
            align-items: center;
            display: flex;

            > div {
                width: 100%;
            }
        }
    }
}

.replicant {
    font-size: 27px;
    font-weight: var(--font-weight-bold);
    text-align: center;

    &--deckard {
        &::before {
            content: attr(data-countdown);
            position: absolute * 7px 3px *;
            font-size: var(--font-size-small);
            font-weight: 100;
        }
        &::after {
            content: '';
            position: absolute 3px 7px * *;
            size: 16px 20px;
            background: inline('2Phone.png') no-repeat;
            background-size: 16px 20px;
        }
    }
    &--rachael {
        size: 80% 50px;
        font-size: 27px 50px;
        text-align: center;

        &--errCode {
            animation: errFormAnimate .5s ease-in-out;
        }
    }
}

.write {
    &__textarea {
        margin: 0 auto;
        size: 90% 20vh;
        max-height: 20vh;
        font-size: var(--font-size-base) var(--line-height-base);
        background-color: var(--color-white);

        &:disabled {
            background-color: var(--color-gray);
            cursor: not-allowed;
            user-select: none;
        }
        &--err {
            animation: errFormAnimate .5s ease-in-out;
        }
    }
    &__toolBar {
        position: relative;
        margin: 7px auto;
        width: 90%;
    }
    &__btn {
        position: relative;
        size: 27px;

        &--geo {
            float: left;

            svg {
                size: 12px 17px;
            }
        }
        &--media {
            float: left;
            display: inline-block;
            line-height: 24px;
            text-align: center;
            cursor: pointer;

            svg {
                size: 17px 14px;
                vertical-align: middle;
            }
        }
        &--send {
            float: right;

            svg {
                width: 27px;
                animation: writingAnimate .3s infinite linear;
                animation-play-state: paused;
            }

            &::before {
                content: attr(data-count);
                position: absolute * 28px 0 *;
                color: var(--color-steel);
                font-size: 7px;
            }

            &--typing {
                svg {
                    animation-play-state: running;
                }
            }
            &:disabled {
                cursor: not-allowed;

                svg {
                    filter: grayscale(100%);
                    animation-play-state: paused;
                }
                &::before {
                    color: var(--color-weibo);
                }
            }
            &--sending {
                animation: sendingAnimate 1.7s infinite cubic-bezier(0.4, 0, 1, 1);

                svg {
                    animation-play-state: running;
                }
                &::before {
                    content: '';
                }
            }
        }
    }
    &__previews {
        position: absolute * * 0 calc(50% - 54px - 9px);
        transform: translateY(7px);

        &__item {
            float: left;
            display: inline-block;
            margin-right: 3px;
            size: 27px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 3px 3px 0 0;

            img {
                width: 27px;
            }

            &:hover {
                transform: translateY(-7px);
            }
        }
    }
}

.read {
    margin: 0 auto;
    size: 100% 33.3vh;
    font-size: var(--font-size-base) var(--line-height-base);

    &__like {
        &__avatar {
            position: relative;
            display: inline-block;
            margin: 3px;
            width: calc(100% / 10 - 6px);
            vertical-align: middle;
            overflow: hidden;

            @media (--phone){
                width: calc(100% / 5 - 6px);
            }
            @media (--tablet){
                width: calc(100% / 7 - 6px);
            }

            &::before {
                content: '';
                padding-top: 100%;
                float: left;
            }

            img {
                float: left;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
    &__reply {
        > li {
            position: relative;
            border-bottom: 1px solid var(--color-gray-drak);
        }
        &__avatar {
            position: relative;
            display: inline-block;
            margin: 7px;
            size: 30px;
            float: left;

            img {
                float: left;
                width: 100%;
                border-radius: 50%;
            }
        }
        &__time {
            position: absolute * 1px 1px *;
            font-size: 9px;
            color: #89A;
            cursor: pointer;
        }
        &__text {
            display: table;
            padding: 7px;
            size: calc(100% - 44px) 44px;

            a, a:visited {
                color: var(--color-instagram);
            }
        }
    }
}

