.controlCenter {
    position: absolute * * 0;
    height: 0%;
    background-color: var(--color-gray);
    z-index: 5;
    transform-origin: bottom;
    transform: scaleY(0);

    &--replicant, &--write, &--read {
        transform: scaleY(1);
    }
    &--replicant {
        height: 20%;
    }
    &--write {
        height: 33.3%;
    }
    &--read {
        height: 17%;
    }
}
.cancelMask {
    position: absolute 0 * *;
    height: 100%;
    z-index: 4;
    cursor: pointer;
    background-color: var(--color-black-alpha);
    ::-webkit-scrollbar {
        display: none; 
    }

    &__wrapper {
        position: absolute;
        size: 100% 100%;

        &--replicant {
            height: 100%;
        }
        &--write {
            height: 66.7%;
        }
        &--read {
            height: 83%;
        }
    }
}

.replicant {
    font-size: 27px;
    font-weight: var(--font-weight-bold);
    text-align: center;

    &--deckard {
        &::before {
            content: attr(data-countdown);
            position: absolute * 7px 3px *;
            font-size: var(--font-size-small);
            font-weight: 100;
        }
        &::after {
            content: '';
            position: absolute 3px 7px * *;
            size: 16px 20px;
            background: inline('2Phone.png') no-repeat;
            background-size: 16px 20px;
        }
    }
    &--rachael {
        size: 80% 50px;
        font-size: 27px 50px;
        text-align: center;

        &--errCode {
            animation: errFormAnimate .5s ease-in-out;
        }
    }
}

.write {
    &__textarea {
        margin: 0 auto;
        size: 90% 20vh;
        font-size: var(--font-size-base) var(--line-height-base);
        background-color: var(--color-white);

        &:disabled {
            background-color: var(--color-gray);
            cursor: not-allowed;
            user-select: none;
        }
        &--err {
            animation: errFormAnimate .5s ease-in-out;
        }
    }
    &__toolBar {
        position: relative;
        margin: 7px auto;
        width: 90%;
    }
    &__btn {
        position: relative;
        size: 27px;

        &--geo {
            float: left;

            svg {
                size: 12px 17px;
            }
        }
        &--media {
            float: left;
            display: inline-block;
            line-height: 24px;
            text-align: center;
            cursor: pointer;

            svg {
                size: 17px 14px;
                vertical-align: middle;
            }
        }
        &--send {
            float: right;

            svg {
                width: 27px;
                animation: writingAnimate .3s infinite linear;
                animation-play-state: paused;
            }

            &::before {
                content: attr(data-count);
                position: absolute * 28px 0 *;
                color: var(--color-steel);
                font-size: 7px;
            }

            &--typing {
                svg {
                    animation-play-state: running;
                }
            }
            &:disabled {
                cursor: not-allowed;

                svg {
                    fill: var(--color-steel);
                    animation-play-state: paused;
                }
                &::before {
                    color: var(--color-weibo);
                }
            }
            &--sending {
                animation: sendingAnimate 1.7s infinite cubic-bezier(0.4, 0, 1, 1);

                svg {
                    animation-play-state: running;
                }
                &::before {
                    content: '';
                }
            }
        }
        &--twitter {
            svg {
                fill: var(--color-twitter);
            }
        }
        &--weibo {
            svg {
                fill: var(--color-weibo);
            }
        }
    }
    &__previews {
        position: absolute * * 0 calc(50% - 54px - 9px);
        transform: translateY(7px);

        &__item {
            float: left;
            display: inline-block;
            margin-right: 3px;
            size: 27px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 3px 3px 0 0;

            img {
                width: 27px;
            }

            &:hover {
                transform: translateY(-7px);
            }
        }
    }
}

.read {
    margin: 0 auto;
    padding: 10px;
    size: 100% 17vh;
    font-size: var(--font-size-base) var(--line-height-base);

    .loadMore {
        width: calc(100% - 34px);
    }
    &--reply {
        padding: 0;
    }

    &__like {
        &__avatar {
            position: relative;
            lost-waffle: 1/10;

            @media (--phone){
                lost-waffle: 1/5;
            }
            @media (--tablet){
                lost-waffle: 1/7;
            }

            &::before {
                content: '';
                padding-top: 100%;
                float: left;
            }

            img {
                float: left;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
    &__reply {
        > li {
            position: relative;
            border-bottom: 1px solid var(--color-gray-drak);
            lost-utility: clearfix;
        }
        &__avatar {
            padding: 7px;
            lost-column: 1/7 0;

            img {
                float: left;
                width: 100%;
                border-radius: 50%;
            }
        }
        &__text {
            lost-column: 6/7 0;

            a, a:visited {
                color: var(--color-instagram);
            }
        }
        &__time {
            position: absolute * 1px 1px *;
            font-size: 9px;
            color: #89A;
            cursor: pointer;
        }
    }
}
.switch-icon {
    position: absolute * 0 100% *;
    size: 40px;
}
