:--timelineStyle {
    position: relative;
    margin: 36px 7px;
    padding: 0 10px;
    background-color: var(--color-white);
    cursor: default;
    border-radius: 3px;
}
.timeline {    
    &__profile {
        position: relative -24px * *;
        text-align: center;

        &__avatar {
            size: 48px;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
        }
        &__fullname {
            margin-bottom: 17px;
            font-weight: var(--font-weight-bold);
        }
    }
    &__time {
        position: absolute * 3px 3px *;
        color: #89A;
        font-size: 11px;
        cursor: pointer;
    }
    &__content {
        position: relative -24px * *;
    }
    &__text {
        margin-top: 17px;
        word-wrap: break-word;
        white-space: pre-wrap;
        line-height: 1.4;
        cursor: text;

        img {
            width: 1.5em;
            vertical-align: text-bottom;
        }
    }
    &__media {
        display: block;
        position: relative;
        width: 100%;
        margin: 17px 0 0 0;
        white-space: nowrap;
        text-align: center;

        &::-webkit-scrollbar { 
            display: none; 
        }

        img, video {
            width: 100%;
            border-radius: 3px;
        }
        video {
            cursor: pointer;
        }
        &--large {
            position: relative;
        }
        &--thumb {
            img {
                width: 80px;
                margin-right: 7px;
                cursor: zoom-in;
                border-radius: 1px;

                @media (--all-mobile-devices){
                    width: calc(100% / 9 - 3px);
                    margin-right: 3px;
                }
            }
        }
        &--small {
            img {
                width: calc(100% / 9 - 7px);
                margin-right: 7px;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        &--gif {
            cursor: inline('GIF.gif'), zoom-in !important;
            cursor: -webkit-image-set(
                inline('GIF@2x.gif') 2x
            ), zoom-in !important;

            @media (--all-mobile-devices){
                border: 1px solid #D0104C;
            }
        }
        &--inactive {
            filter: grayscale(100%);
            opacity: .7;
        }
        &--active {
            filter: grayscale(0%);
            opacity: 1;
        }
        &--hide {
            display: none;
        }
        &--loading {
            animation: imgLoadAnimate 1.7s infinite linear;
        }
        &__jumpButton {
            position: absolute 3px 3px * *;
            size: 17px;
            cursor: pointer;
        }
        &__playButton {
            position: absolute 0 * * 0;
            size: 50px;
            cursor: pointer;
            
            &--playing {
                opacity: 0;
            }
        }
    }

    &--quote {
        top: -12px;
        margin: 27px 7px 7px 7px;
        border: 1px solid var(--color-gray);
        background-color: var(--color-gray);
        font-size: var(--font-size-small);

        strong, p {
            color: var(--color-black);
        }
        .timeline {
            &__profile {
                &__avatar {
                    size: 40px;
                }
                &__fullname {
                    margin-bottom: 7px;
                }
            }
            &__content {
                top: -14px;
            }
            &__text {
                margin-top: 0;
            }
            &__time {
                font-size: 10px;
            }    
        }

    }
    &--retweet__profile__avatar {
        position: absolute -12px * * calc(50% - 72px);

        img {
            size: 24px;
        }
        &::after {
            content: '';
            position: absolute 8px -18px * *;
            size: 13px 8px;
            background: inline('retweet_in_tweet.png') no-repeat;
            background-size: 13px 8px;
        }
    }
    
    &--twitter {
        .timeline__profile__avatar {
            border-color: var(--color-twitter);
            background-color: var(--color-twitter);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-twitter);
            }
        }
    }
    &--instagram {
        .timeline__profile__avatar {
            border-color: var(--color-instagram);
            background-color: var(--color-instagram);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-instagram);
            }
        }
    }
    &--weibo {
        .timeline__profile__avatar {
            border-color: var(--color-weibo);
            background-color: var(--color-weibo);
        }
        .timeline__content {
            a, a:visited {
                color: var(--color-weibo);
            }
        }
    }


    &__action {
        display: none;
        position: absolute 7px 5px * *;
        size: 20px 6px;
        cursor: pointer;
        z-index: 3;

        @media (--all-mobile-devices){
            display: block;
        }
    }

    &:hover {
        .timeline__action {
            display: block;
        }
    }
}


:--dividerLine {
    content: '';
    position: absolute * * * calc(50% - 1px);
    height: 40px;
    border-right: 1px dashed var(--color-black);
}
:--dividerText {
    content: attr(data-date);
    position: absolute * * * 0;
    width: 100%;
    font-size: 10px 20px;
    font-weight: var(--font-weight-light);
    text-align: center;
    background-color: var(--color-gray);
}
.loadMore {
    display: block;
    size: calc(100% - 14px) 40px;
    margin: 10px 7px;
    border: 1px solid var(--color-gray);
    font-size: var(--font-size-base);
    cursor: pointer;

    &:hover {
        background-color: transparent;
    }
    &:first-child {
        z-index: 3;
    }
    &:last-child {
        z-index: 2;
    }
    &__count::before {
        content: attr(data-count);
        position: absolute 0 * * 0;
        width: 100%;
        color: var(--color-gray-drak);
        text-align: center;
        line-height: 40px;
    }
    &--initLoad {
        position: absolute calc(50% - 20px) * *;
        background-color: transparent;
        cursor: default;
    }
    &--loading {
        background-color: transparent;

        &::before {
            content: '';
            position: absolute 19px * * 0;
            size: 100% 2px;
            background-color: var(--color-black);
            transform-origin: left;
            border-radius: 1px;
            animation: loadAnimate 2.7s infinite linear;
        }
        &--fail {
            cursor: pointer;

            &::before {
                animation: loadAnimate--fail 7.7s infinite linear;
            }
            &::after {
                content: attr(data-count);
                position: absolute 0 0 * *;
                size: 25px 100%;
                color: var(--color-gray-drak);
                text-align: center;
                line-height: 40px;
                border-left: 7px solid var(--color-black);
            }
        }
    }
}

.divider {
    &--top {
        margin-top: 100px;

        &::before {
            top: -82px;
        }
        &::after {
            top: -72px;
        }
    }

    &--bottom {
        margin-bottom: 100px;

        &::before {
            bottom: -58px;
        }
        &::after {
            bottom: -48px;
        }
    }
}
